<mat-card>
  <mat-card-title>
    <span>Support Article List</span>
    <button mat-mini-fab class="action-btn" color="warn" matTooltip="Add" matTooltipPosition="above" [routerLink]="['./',0]"
      *ngIf="pageContentIsEditable">
      <mat-icon>add</mat-icon>
    </button>
    <span fxFlex></span>
    <vvtk-language-selector></vvtk-language-selector>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-card>
      <mat-card-content fxLayout="column">
        <div>
          <mat-table #table [dataSource]="dataSource" class="table table-hover table-striped table-bordered table-condensed">
            <ng-container cdkColumnDef="id">
              <mat-header-cell *cdkHeaderCellDef>ID</mat-header-cell>
              <mat-cell *cdkCellDef="let row"> {{row.id}} </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="headline">
              <mat-header-cell *cdkHeaderCellDef>Headline</mat-header-cell>
              <mat-cell *cdkCellDef="let row"> {{row.headline}} </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="publishAt">
              <mat-header-cell *cdkHeaderCellDef>Published At</mat-header-cell>
              <mat-cell *cdkCellDef="let row"> {{row.publishedAt | date}} </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="updatedAt">
              <mat-header-cell *cdkHeaderCellDef>Updated At</mat-header-cell>
              <mat-cell *cdkCellDef="let row"> {{row.updatedAt | date}} </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="updatedUser">
              <mat-header-cell *cdkHeaderCellDef>Updated User</mat-header-cell>
              <mat-cell *cdkCellDef="let row"> {{row.updatedUserEmail}} </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="action">
              <mat-header-cell *cdkHeaderCellDef fxLayout="row" fxFlex="300px" fxLayoutAlign="center center"> Action
              </mat-header-cell>
              <mat-cell *cdkCellDef="let row" fxLayout="row" fxFlex="300px" fxLayoutAlign="center center">
                <button mat-mini-fab class="action-btn" color="primary" matTooltip="Edit Detail" matTooltipPosition="above"
                  [routerLink]="['./',row.id]" *ngIf="pageContentIsViewable">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab class="action-btn" color="warn" matTooltip="Delete" matTooltipPosition="above"
                  (click)="delete(row.id)" [disabled]="isLoading" *ngIf="pageIsEditable">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[10, 30, 50, 100]">
          </mat-paginator>
        </div>
        <vvtk-loader *ngIf="isLoading"></vvtk-loader>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
