<div id="social" class="container">
  <vvtk-top-banner></vvtk-top-banner>
  <vvtk-model-selector #f [templates]="f.setTemplates(_Content.templates)"></vvtk-model-selector>

  <!-- <vvtk-model-text [textAlign]="'center'"></vvtk-model-text>
    <vvtk-model-img-bg></vvtk-model-img-bg>
    <vvtk-model-two-block [modelStyle]="'model-leftImg'"></vvtk-model-two-block>
    <vvtk-model-two-block [modelStyle]="'model-rightImg'"></vvtk-model-two-block>
    <vvtk-model-img-bg></vvtk-model-img-bg> -->

  <!--
      <vvtk-model-text [textAlign]="'center'"></vvtk-model-text>
      <vvtk-model-two-block [modelStyle]="'model-video'"></vvtk-model-two-block>
      <vvtk-model-two-block [modelStyle]="'model-leftImg'"></vvtk-model-two-block>
      <vvtk-model-two-block [modelStyle]="'model-rightImg'"></vvtk-model-two-block>
      <vvtk-model-img-bg></vvtk-model-img-bg>
      <vvtk-model-three-circle></vvtk-model-three-circle>
      <vvtk-model-three-cards [items]="cardsItems"></vvtk-model-three-cards>
      <vvtk-model-download [downloadList]="downloadList"></vvtk-model-download>
      -->
</div>
