<div fxLayout="row">
  <mat-card fxFlex="100%">
    <mat-card-title fxLayout>
      <span>{{(id==0)?'Add':'Edit'}} Online Enquiry - Subject</span>
      <span fxFlex></span>
      <vvtk-language-selector *ngIf="id>0"></vvtk-language-selector>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content fxLayout="column">
      <form #form="ngForm" fxLayout="column">
        <mat-card fxFlex="100%">
          <mat-card-content fxLayout="column">
            <mat-form-field fxFlex>
              <input matInput maxlength="255" placeholder="Subject Name" name="subject" [(ngModel)]="data.subject" [readOnly]="!pageIsEditable"
                required>
            </mat-form-field>
          </mat-card-content>
          <mat-card-title>
            <h3>Handler</h3>
          </mat-card-title>
          <mat-card-content fxLayout="column">
            <mat-form-field fxFlex>
              <input matInput maxlength="255" placeholder="Filter" name="filterBcc" [(ngModel)]="filterBcc">
            </mat-form-field>
            <div fxFlex *ngFor="let user of handler">
              <mat-checkbox name="selectedHandler[]" [value]="user.id" [checked]="selectedHandlerChecked(user.id)" (change)="selectedHandlerChange(user.id,$event)"
                [disabled]="!pageIsEditable" *ngIf="(user.name+user.email).indexOf(filterBcc)>=0">
                {{user.name}}({{user.email}})
              </mat-checkbox>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </mat-card-content>
    <mat-card-content fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-button [routerLink]="['/contact/subjects/list']">Cancel</button>
        <span fxFlex></span>
        <button mat-button color="primary" (click)="save()" [disabled]="!form.valid || isLoading" *ngIf="pageIsEditable">Save</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
