<nav id="topMenu" [ngClass]="styleHeader" (mouseleave)="closeMainMenu($event)">
  <ul>
    <li *ngFor="let item of _MenuNode; let idx1 = index">
      <a *ngIf="item.url&&item.url.indexOf('http')!=0;else itemHrefLink" [routerLink]="[item.url | customPath]" (mouseover)="openMenu(idx1, 0)">{{item.title}}</a>
      <ng-template #itemHrefLink>
        <a [class.noLink]="!item.url" [href]="item.url||('javascript:;' | safe:'url') | customPath" (mouseover)="openMenu(idx1, 0)">{{item.title}}</a>
      </ng-template>
      <div class="sub" *ngIf="item.subMenu" (mouseleave)="closeMenu($event)" [class.open]="idx1 === openIndex">
        <div class="wrap">
          <ul class="sub-first">
            <li *ngFor="let item2 of item.subMenu; let idx2 = index" (mouseover)="openMenu(idx1, idx2)" [class.open]="idx2 === firstIndex">
              <a *ngIf="item2.url&&item2.url.indexOf('http')!=0;else item2HrefLink" [routerLink]="[item2.url | customPath]" (click)="closeMenu($event)">{{item2.title}}</a>
              <ng-template #item2HrefLink>
                <a [class.noLink]="!item2.url" [href]="item2.url||('javascript:;' | safe:'url') | customPath">{{item2.title}}</a>
              </ng-template>
            </li>
          </ul>
          <ul class="sub-second" [class.open]="openSubMenu">
            <li *ngFor="let item2 of item.subMenu; let idx3 = index" [class.open]="idx3 === secondIndex">
              <ul class="sub-third">
                <li class="name">{{item2.title}}</li>
                <li class="img" *ngIf="item2.image">
                  <img [src]="item2.image" alt="">
                </li>
                <li *ngFor="let item3 of item2.subMenu;">
                  <a *ngIf="item3.url&&item3.url.indexOf('http')!=0;else item3HrefLink" [routerLink]="[item3.url | customPath]" (click)="closeMenu($event)">{{item3.title}}</a>
                  <ng-template #item3HrefLink>
                    <a [class.noLink]="!item3.url" [href]="item3.url||('javascript:;' | safe:'url') | customPath">{{item3.title}}</a>
                  </ng-template>
                  <ul class="sub-fourth">
                    <li *ngFor="let item4 of item3.subMenu;">
                      <a *ngIf="item4.url&&item4.url.indexOf('http')!=0;else item4HrefLink" [routerLink]="[item4.url | customPath]" (click)="closeMenu($event)">{{item4.title}}</a>
                      <ng-template #item4HrefLink>
                        <a [class.noLink]="!item4.url" [href]="item4.url||('javascript:;' | safe:'url') | customPath">{{item4.title}}</a>
                      </ng-template>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</nav>
