@import '_var.scss';
.page-content {
  h2 {
    color: $colorB1;
  }
  .img {
    margin-bottom: 15px;
  }
}
h2 {
  font-size: $sizeLger;
  margin-bottom: 10px;
}

@media screen and (max-width: $widthTableApp) {
  h2 {
    font-size: $sizeLger;
  }
  .page-box {
    .img {
      width: 100%;
      padding-right: 0;
      float: none;
      margin-bottom: 10px;
    }
    .text {
      width: 100%;
      padding-left: 0;
      float: none;
    }
  }
}
@media screen and (max-width: $widthApp) {
  h2 {
    font-size: $sizeNler;
  }
}
