<div class='ossAnnounce'>
  <h5 class='ossAnnounce__header'>VIVOTEK Open Source Software User Agreement</h5>
  <div class='ossAnnounce__content'>
    <p>
      This User Agreement (the 'Agreement') is a legal agreement between you (either an individual of an entity) and
      VIVOTEK INC. ('VIVOTEK'). By clicking the button marked 'I ACCEPT' or 'YES' below, you agree to be bound by the
      terms
      of this Agreement. If you do not agree to the terms of this Agreement, please close this window and do not
      proceed
      any further.
    </p>
    <p>
      1.VIVOTEK is pleased to make various source codes ("Source Codes") shown on this website for you to download
      ("Download Service") without fee. By downloading and/or using the Source Code, you expressly take all risk and
      liability associated with and/or caused by the same and complying with all applicable user agreements that
      accompany each Source Code.
    </p>
    <p>
      2.Some Source Codes are licensed under public license such as GNU General Public License and/or GNU Lesser
      General
      Public License. Such licenses can be found in each of the files containing the Source Codes.
    </p>
    <p>
      3.VIVOTEK PROVIDES THE SOURCE CODES AND THIS DOWNLOAD SERVICE "AS IS" WITHOUT WARRANTY OF ANY KIND AND ALL SUCH
      WARRANTIES, EXPRESS OR IMPLIED, ARE HEREBY DISCLAIMED, INCLUDING, WITHOUT LIMITATION, WARRANTIES OF FITNESS FOR A
      PARTICULAR PURPOSE, ACCURACY, MERCHANTABILITY,COMPLETENESS, CURRENCY, AVAILABILITY, TITLE, OR NON-INFRINGEMENT.
    </p>
    <p>
      4.IN NO EVENT SHALL VIVOTEK BE LIABLE FOR ANY CONSEQUENTIAL, INCIDENTAL, INDIRECT, SPECIAL OR PUNITIVE DAMAGES
      (INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFIT, FOR BUSINESS INTERRUPTION, FOR FAILURE TO MEET ANY
      DUTY
      OF GOOD FAITH OR OF REASONABLE CARE, FOR NEGLIGENCE, OR FOR ANY OTHER PECUNIARY LOSS OR OTHER LOSS WHATSOEVER)
      ARISING OUT OF OR IN ANY WAY RELATED TO THIS AGREEMENT EVEN IF ANY REPRESENTATIVE OF VIVOTEK HAS BEEN ADVISED OF
      THE POSSIBILITY THEREOF.
    </p>
    <p>
      5.This Download Service shall not affect nor extend any warranty or disclaimer which VIVOTEK makes in each of
      VIVOTEK's products in which the Source Code (or object/executable code based thereon) is incorporated.
    </p>
  </div>
  <button mat-raised-button color="primary" (click)="openDialog()" [disabled]="isLoading">Agree & Enter</button>
</div>
