.news-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 50px;
  .news-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 30px;
    flex-basis: 400px;
    min-width: 200px;
    max-width: 650px;
    flex-grow: 1;
    flex-shrink: 1;

    .news-content {
      padding: 15px 30px;
      flex-grow: 1;

      .news-article {
        margin-bottom: 30px;

        .article-title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
