<div fxLayout="row">
    <mat-card fxFlex="100%">
        <mat-card-title>
            <span>Files</span>
        </mat-card-title>
        <mat-card-content fxLayout="column">
            <div fxLayout.lt-md="column" fxLayout="row" fxLayoutAlign="start">
                <div fxFlex="300px">
                    <mat-card fxFlex="100%">
                        <mat-card-content fxLayout="column">
                            <div id="tree" #tree></div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div fxFlex="20px"></div>
                <div fxFlex="100%">
                    <vvtk-file-editor #editFile [hidden]="selectedType=='root'">
                    </vvtk-file-editor>
                </div>
            </div>
            <vvtk-loader *ngIf="editFile.isLoading"></vvtk-loader>
        </mat-card-content>
    </mat-card>
</div>
