<div fxLayout="row">
  <mat-card fxFlex="100%">
    <mat-card-title fxLayout>
      <span>{{(id==0)?'Add':'Edit'}} Parking Violation Detection Support Package</span>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content fxLayout="column">
      <form #form="ngForm">
        <mat-card fxFlex="100%">
          <mat-card-content fxLayout="column">
            <mat-form-field fxFlex>
              <input matInput placeholder="Package Name" name="packageName" [(ngModel)]="package.featureName" [readOnly]="!pageIsEditable"
                required>
            </mat-form-field>
            <mat-form-field fxFlex>
              <input matInput placeholder="Package Download Url" name="packageDownloadUrl" [(ngModel)]="package.downloadUrl" [readOnly]="!pageIsEditable"
                required>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </form>
    </mat-card-content>
    <mat-card-content fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-button [routerLink]="['/supports/learning/parking-violation-detection/support/package']">Cancel</button>
        <span fxFlex></span>
        <button mat-button color="primary" (click)="save()" [disabled]="!form.valid || isLoading" *ngIf="pageIsEditable">Save</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
