@import '../../../../styles/_var.scss';
.list-col {
  text-align: left;
  position: relative;
  &:hover {
    .col-img {
      img {
        @include transform("scale3d(1.1, 1.1, 1)"); //@include scale3d(1.1, 1.1, 1);
        @include transition(all .5s);
        @include opacity(1);
      }
    }
    .title {
      color: $colorB1;
      @include transition(color .3s);
    }
  }
  .col-img {
    background-color: $colorW;
    padding-top: 50%;
    overflow: hidden;
    position: relative;
    .img-v {
      position: absolute;
      width: 101%;
      height: 100%;
      left: 0;
      top: 0;
      text-align: center;
      &:before {
        content: '';
        width: 0;
        height: 100%;
        display: inline-block;
        position: relative;
        vertical-align: middle;
      }
      img {
        display: inline-block;
        vertical-align: middle;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        margin-left: -6px;
      }
    }
  }
  .col-text {
    background-color: $colorGy2;
    &.bg-b {
      background-color: $colorW;
    }
    .card-date {
      display: block;
    }
  }
  .link {
    position: absolute;
    height: 94%;
    width: 94%;
    left: 3%;
    top: 0;
    z-index: 5;
    cursor: pointer;
  }
  .shadow {
    text-decoration: none;
    position: relative;
    z-index: 0;
    &:before {
      position: absolute;
      content: '';
      left: 20px;
      top: 0;
      border-style: solid;
      border-width: 15px 20px;
      border-color: $colorGy1 transparent transparent transparent;
      z-index: 1;
    }
  }
}

.icon-vedio {
  position: relative;
  z-index: 0;
  &:after {
    width: 84px;
    height: 55px;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -27px;
    margin-left: -42px;
    z-index: 1;
    @include opacity(.8);
    background: url(/assets/img/icon_video.png);
  }
}

@media screen and (max-width:$widthWebTable) {}

@media screen and (max-width:$widthTable) {}

@media screen and (max-width:$widthTableApp) {
  .list-col {
    .col-text {
      .title {
        max-height: 42px;
        height: auto;
        font-size: $sizeNler;
      }
      .col-link {
        font-size: $sizeNler;
      }
    }
  }
}

@media screen and (max-width:$widthApp) {
  .list-col {
    .col-text {
      padding: 15px 20px 5px;
      .title {
        font-size: $sizeNl;
      }
      .col-link {
        font-size: $sizeNl;
      }
    }
  }
}
