<div fxLayout="column" fxLayoutAlign="start stretch">
  <mat-form-field fxFlex>
    <input matInput maxlength="255" placeholder="Title" [name]="'templateTitle'+templateIndex" [(ngModel)]="template.title"
      [readOnly]="readOnly">
  </mat-form-field>

  <mat-form-field>
    <mat-select [(ngModel)]="selected" placeholder="How many columns in a row" (selectionChange)="selectChange($event.value)"
      [formControl]="columnsControl" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let col of columns" [value]="col.key">
        {{col.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="columnsControl.hasError('required')">Please choose</mat-error>
    <mat-hint>{{columnsControl.value?.key}}</mat-hint>
  </mat-form-field>
  <!-- List Items -->
  <div fxLayout="column" fxLayoutAlign="start stretch">
    <button type="button" mat-button (click)="addListItem(0)" *ngIf="!readOnly">Add List</button>
    <div [sortablejs]="template.listItems" [sortablejsOptions]="groupOptionsListItem">
      <div fxLayout="column" fxLayoutAlign="start stretch" *ngFor="let listItem of template.listItems; let j = index">
        <mat-card-title>
          <mat-icon class="drag-handle-list-item" *ngIf="!readOnly">drag_handle</mat-icon>
          <h4>List {{j+1}}</h4>
          <a mat-mini-fab class="action-btn" color="accent" matTooltip="Delete List" matTooltipPosition="above" (click)="deleteListItem(j)"
            *ngIf="!readOnly">
            <mat-icon>delete</mat-icon>
          </a>
          <a mat-mini-fab class="action-btn" color="primary" [matTooltip]="listItem.hideContent?'展開':'收合'"
            matTooltipPosition="above" (click)="listItem.hideContent = !listItem.hideContent">
            <mat-icon *ngIf="listItem.hideContent">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="!listItem.hideContent">keyboard_arrow_up</mat-icon>
          </a>
        </mat-card-title>
        <mat-card-content fxLayout="column" [hidden]="!listItem.hideContent">
          {{listItem.title}}
        </mat-card-content>
        <mat-form-field fxFlex="flex-grow">
          <input matInput placeholder="Title" [name]="'title['+templateIndex+']'+'['+j+']'" [(ngModel)]="listItem.title"
            [readOnly]="readOnly" required>
        </mat-form-field>
        <mat-card-content fxLayout="column" [hidden]="listItem.hideContent">
          <mat-card-content fxLayout="column">
            <div [sortablejs]="listItem.itemTexts" [sortablejsOptions]="groupOptionsListItemText">
              <div *ngFor="let item of listItem.itemTexts;let k = index" fxLayout="row" fxLayoutAlign="start center"
                style="margin:10px 0">
                <mat-icon class="drag-handle-list-item-text" *ngIf="!readOnly">drag_handle</mat-icon>
                <a mat-mini-fab class="action-btn" color="warn" matTooltip="Add Item" matTooltipPosition="above"
                  (click)="addItemText(j,k+1)" *ngIf="!readOnly && listItem.itemTexts.length<10">
                  <mat-icon>add</mat-icon>
                </a>
                <a mat-mini-fab class="action-btn" color="accent" matTooltip="Delete Item" matTooltipPosition="above"
                  (click)="deleteItemText(j,k)" *ngIf="!readOnly">
                  <mat-icon>delete</mat-icon>
                </a>
                <mat-form-field fxFlex="flex-grow">
                  <input matInput placeholder="Item Text" [name]="'text['+templateIndex+']'+'['+j+']'+'['+k+']'"
                    [(ngModel)]="item.text" [readOnly]="readOnly" required>
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card-content>
        <button type="button" mat-button (click)="addListItem(j+1)" *ngIf="!readOnly">Add List</button>
      </div>
    </div>
  </div>
</div>
