<div fxLayout="row">
  <mat-card fxFlex="100%">
    <mat-card-title>
      <span>{{(id==0)?'Add':'Edit'}} Social Wall</span>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content fxLayout="column">
      <form #form="ngForm">
        <mat-card fxFlex="100%">
          <mat-card-content fxLayout="column">
            <mat-form-field fxFlex>
              <input matInput maxlength="255" placeholder="Title" name="title" [(ngModel)]="data.title" [readOnly]="!pageIsEditable" required>
            </mat-form-field>
            <mat-form-field fxFlex>
              <input matInput maxlength="255" placeholder="Url" name="url" [(ngModel)]="data.url" [readOnly]="!pageIsEditable" required>
            </mat-form-field>
          </mat-card-content>
          <mat-card-content fxLayout="column">
            <mat-card fxFlex="100%">
              <mat-card-title>
                <h3>Image</h3>
              </mat-card-title>
              <mat-card-content fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="center" *ngIf="data.image.src">
                  <div class="text-center">
                    <img [src]="data.image.src | safeUrl" [alt]="data.image.alt" [title]="data.image.title">
                  </div>
                </div>
                <button type="button" mat-button (click)="imgFileInput.click()" [disabled]="isLoading" *ngIf="pageIsEditable">Upload a image (Recommended size: 460*230)</button>
                <input hidden type="file" #imgFileInput accept="image/*" (change)="imgFileSelect($event)" />
                <mat-form-field fxFlex>
                  <input matInput placeholder="Image url" name="imgSrc" [(ngModel)]="data.image.src" [readOnly]="!pageIsEditable" required>
                </mat-form-field>
                <mat-form-field fxFlex>
                  <input matInput maxlength="255" placeholder="Image title" name="imgTitle" [(ngModel)]="data.image.title" [readOnly]="!pageIsEditable"
                    required>
                </mat-form-field>
                <mat-form-field fxFlex>
                  <input matInput placeholder="Image alt" name="imgAlt" [(ngModel)]="data.image.alt" [readOnly]="!pageIsEditable" required>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </mat-card-content>
          <mat-card-content fxLayout="column">
            <vvtk-input-container>
              <mat-slide-toggle color="primary" name="footerEnabled" [(ngModel)]="data.footerEnabled" [disabled]="!pageIsEditable" vvtkhtml>
                {{data.footerEnabled?'Show':'Hide'}} on footer
              </mat-slide-toggle>
            </vvtk-input-container>
          </mat-card-content>
        </mat-card>
      </form>
    </mat-card-content>
    <mat-card-content fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-button [routerLink]="['/about/community/list']">Cancel</button>
        <span fxFlex></span>
        <button mat-button color="primary" (click)="save()" [disabled]="!form.valid || isLoading" *ngIf="pageIsEditable">Save</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
