<div fxLayout="row">
  <mat-card fxFlex="100%">
    <mat-card-title fxLayout>
      <span>{{(id==0)?'Add':'Edit'}} Support Brand</span>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content fxLayout="column">
      <form #form="ngForm">
        <mat-card fxFlex="100%">
          <mat-card-content fxLayout="column">
            <mat-form-field fxFlex>
              <input matInput placeholder="Brand Name" name="name" [(ngModel)]="brand.name" [readOnly]="!pageIsEditable"
                required>
            </mat-form-field>
            <mat-form-field fxFlex>
              <input matInput placeholder="Brand Url" name="url" [(ngModel)]="brand.websiteUrl" [readOnly]="!pageIsEditable">
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </form>
      <vvtk-loader *ngIf="isLoading"></vvtk-loader>
    </mat-card-content>
    <mat-card-content fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-button [routerLink]="['/supports/compatibility/brand']">Cancel</button>
        <span fxFlex></span>
        <button mat-button color="primary" (click)="save()" [disabled]="!form.valid || isLoading" *ngIf="pageIsEditable">Save</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
