#vadp-intro ::ng-deep .model-icon-horizontal {
  .wrap {
    .icon-container {
      justify-content: center;
      .icon-content {
        margin: 0 10px;
        margin-bottom: 25px;
      }
    }
  }
}
