@import '../../../../../../styles/var';
a {
  color: inherit;
  text-decoration: none;
}

:host ::ng-deep {
  .mat-expansion-panel {
    &:not([class*=mat-elevation-z]) {
      box-shadow: none;
    }
    &.mat-expanded {
      &>.mat-expansion-panel-header .mat-icon {
        transform: rotate(90deg);
      }
      &.active>.mat-expansion-panel-header:not(.active) {
        color: inherit;
      }
    }
    .mat-expansion-panel-header {
      &.active {
        &,
        &:hover {
          color: #fff;
          background-color: $colorB3;
        }
      }
    }
  }
  .mat-expansion-panel-header {
    padding: 0;
    font-family: $fontFamily;
    font-size: 1em;
    line-height: 2em;
  }
  .mat-expansion-panel-body {
    padding: 0 0 0 16px;
    line-height: 2em;
  }
  .mat-content {
    height: 100%;
    align-items: center;
    a {
      display: flex;
      align-items: center;
      padding: 3px 1.5em 3px 0;
      width: 100%;
      height: 100%;
      font-weight: 500;
    }
  }
}
