<div fxLayout="column" fxLayoutAlign="start stretch">
  <mat-form-field fxFlex>
    <input matInput maxlength="255" placeholder="Title" [name]="'templateTitle'+templateIndex" [(ngModel)]="template.title" [readOnly]="readOnly">
  </mat-form-field>
  <mat-form-field fxFlex>
    <textarea matInput rows="5" placeholder="Content" [name]="'templateContent'+templateIndex" [(ngModel)]="template.content"
      [readOnly]="readOnly"></textarea>
  </mat-form-field>
  <vvtk-input-container>
    <mat-slide-toggle color="primary" [name]="'urlEnabled'+templateIndex" [(ngModel)]="template.urlEnabled" vvtkhtml [disabled]="readOnly">
      {{template.urlEnabled?'Enabled Url':'Disabled Url'}}
    </mat-slide-toggle>
  </vvtk-input-container>
  <mat-form-field fxFlex *ngIf="template.urlEnabled">
    <input matInput placeholder="Url" [name]="'templateUrl'+templateIndex" [(ngModel)]="template.url" [readOnly]="readOnly">
  </mat-form-field>
  <mat-form-field fxFlex>
    <input matInput placeholder="Video (Youtube code)" [name]="'templateVideo'+templateIndex" [(ngModel)]="template.video" [readOnly]="readOnly">
  </mat-form-field>
</div>
