#h265 ::ng-deep {
  .model-icon-horizontal {
    .wrap {
      .icon-container {
        .icon-content {
          margin: 0 20px;
          .icon-img {
            width: 360px;
            height: auto;
          }
          width:360px;
        }
      }
    }
  }
}
