<div fxLayout="row">
  <mat-card fxFlex="100%">
    <mat-card-title fxLayout>
      <span>Product - Category - Display On Product Selector</span>
    </mat-card-title>
    <mat-card-content fxLayout="column">
      <div>
        <mat-table #table [dataSource]="productCategories" class="table table-hover table-striped table-bordered table-condensed">

          <ng-container cdkColumnDef="isDisplayOnSelector">
            <mat-header-cell *cdkHeaderCellDef fxLayout="row" fxFlex="200px" fxLayoutAlign="center center">Is display
              on product selector</mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxLayout="row" fxFlex="200px" fxLayoutAlign="center center">
              <mat-checkbox [(ngModel)]="row.isDisplayOnSelector" [disabled]="!pageIsEditable" (change)="checkChange(row.id,$event.checked)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container cdkColumnDef="name">
            <mat-header-cell *cdkHeaderCellDef>Category Name</mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.name}} </mat-cell>
          </ng-container>

          <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
      <vvtk-loader *ngIf="isLoading"></vvtk-loader>
    </mat-card-content>
    <mat-card-content fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="end center">
        <span fxFlex></span>
        <button mat-button color="primary" (click)="save()" [disabled]="!pageIsEditable || isLoading" *ngIf="pageIsEditable">Save</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
