<div id="csr" class="container">
  <vvtk-top-banner></vvtk-top-banner>
  <section class="model section tabs-slider">
    <div class="wrap">
      <vvtk-tab-slider *ngIf="yearList$.length > 0" [tabList]="yearList$" [preString]="0" (tabsOpen)="tabsChange($event)" [tabsActive]="activeYear"></vvtk-tab-slider>
    </div>
    <div class="tabs-slider-content">
      <div *ngFor="let year of yearList$" class="tabs-slider-block" [class.active]="year === activeYear">
        <vvtk-three-cards>
          <div class="wrap" vvtkHomeCard>
            <div class="list-row">
              <ng-container *ngFor="let card of _cardsItems;let idx = index">
                <vvtk-card *ngIf="card.publishAt.getFullYear() === year" [card]="card" [vvtkRouterLink]="[this.i18nService.getSelectedLanguageForLink() + '/csr/activities', card.id, (card.customPath || '')]">
                  <div vvtkThreeCard>
                    <div class="text limit">
                      <p>{{card.description}}</p>
                    </div>
                    <div class="col-link text-right afterClear">
                      <span class="card-date float-left">
                        <i class="fa fa-clock-o"></i> {{card.date|date:'MMM d, y'}}</span>
                      <vvtk-a [url]="card.url" [cName]="'link'">
                        <ng-container HtmlContent>
                          {{"More Info"| i18n}}
                        </ng-container>
                      </vvtk-a>
                    </div>
                  </div>
                </vvtk-card>
              </ng-container>
            </div>
          </div>
        </vvtk-three-cards>
      </div>
    </div>
  </section>
</div>
