<div fxLayout="row">
  <mat-card fxFlex="100%">
    <mat-card-title fxLayout>
      <span>{{(id==0)?'Add':'Edit'}} Awards & Recognition</span>
      <span fxFlex></span>
      <vvtk-language-selector></vvtk-language-selector>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content fxLayout="column">
      <form #form="ngForm">
        <mat-card fxFlex="100%">
          <mat-card-content fxLayout="column">
            <mat-form-field fxFlex *ngIf="!pageIsEditable">
              <input matInput placeholder="Year (Applied to All)" name="year" [value]="data.year" [readOnly]="true">
            </mat-form-field>
            <vvtk-input-container fxLayout="column" *ngIf="pageIsEditable">
              <mat-form-field fxLayout="column" vvtkhtml>
                <mat-select name="year" placeholder="Year (Applied to All)" [(ngModel)]="data.year" required>
                  <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
                </mat-select>
                <input type="text" class="hidden-input" [value]="data.year" required />
              </mat-form-field>
            </vvtk-input-container>
            <mat-form-field fxFlex *ngIf="!pageIsEditable">
              <input matInput placeholder="Month (Applied to All)" name="month" [value]="data.month" [readOnly]="true">
            </mat-form-field>
            <vvtk-input-container fxLayout="column" *ngIf="pageIsEditable">
              <mat-form-field fxLayout="column" vvtkhtml>
                <mat-select name="month" placeholder="Month (Applied to All)" [(ngModel)]="data.month" required>
                  <mat-option *ngFor="let month of months" [value]="month">{{month}}</mat-option>
                </mat-select>
                <input type="text" class="hidden-input" [value]="data.month" required />
              </mat-form-field>
            </vvtk-input-container>
            <mat-form-field fxFlex>
              <input matInput maxlength="255" placeholder="Title" name="title" [(ngModel)]="data.title" [readOnly]="!pageIsEditable" required>
            </mat-form-field>
            <mat-form-field fxFlex>
              <input matInput maxlength="255" placeholder="Url" name="url" [(ngModel)]="data.url" [readOnly]="!pageIsEditable">
            </mat-form-field>
            <mat-form-field fxFlex>
              <input matInput maxlength="255" placeholder="Description" name="description" [(ngModel)]="data.description" [readOnly]="!pageIsEditable"
                required>
            </mat-form-field>
          </mat-card-content>
          <mat-card-title>
            <h3>Image</h3>
          </mat-card-title>
          <mat-card-content fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="center" *ngIf="data.image.src!=''">
              <div class="text-center">
                <img [src]="data.image.src | safeUrl" [alt]="data.image.alt" [title]="data.image.title">
              </div>
            </div>
            <button type="button" mat-button (click)="imgFileInput.click()" *ngIf="pageIsEditable">Upload a image (Recommended size: 460*230)</button>
            <input hidden type="file" #imgFileInput accept="image/*" (change)="imgFileSelect($event)" />
            <mat-form-field fxFlex>
              <input matInput placeholder="Image url" name="imgSrc" [(ngModel)]="data.image.src" [readOnly]="!pageIsEditable" required>
            </mat-form-field>
            <mat-form-field fxFlex>
              <input matInput maxlength="255" placeholder="Image title" name="imgTitle" [(ngModel)]="data.image.title" [readOnly]="!pageIsEditable"
                required>
            </mat-form-field>
            <mat-form-field fxFlex>
              <input matInput placeholder="Image alt" name="imgAlt" [(ngModel)]="data.image.alt" [readOnly]="!pageIsEditable" required>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </form>
    </mat-card-content>
    <mat-card-content fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-button [routerLink]="['/about/awards/list']">Cancel</button>
        <span fxFlex></span>
        <button mat-button color="primary" (click)="save()" [disabled]="!form.valid || isLoading" *ngIf="pageIsEditable">Save</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
