<mat-card>
  <mat-card-title>
    <span>Review Product List</span>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-card>
      <mat-card-content fxLayout="column">
        <mat-table #table [dataSource]="dataSource$ | async" matSort class="table table-hover table-striped table-bordered table-condensed">
          <ng-container cdkColumnDef="name">
            <mat-header-cell *cdkHeaderCellDef>Product Name</mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.name}} </mat-cell>
          </ng-container>

          <ng-container cdkColumnDef="action">
            <mat-header-cell *cdkHeaderCellDef fxLayout="row" fxFlex="400px" fxLayoutAlign="center center"> Action
            </mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxLayout="row wrap" fxFlex="400px" fxLayoutAlign="center center">
              <a mat-mini-fab class="action-btn" color="primary" matTooltip="View" matTooltipPosition="above" [href]="row.url"
                target="_blank">
                <mat-icon>search</mat-icon>
              </a>
              <button mat-mini-fab class="action-btn" color="primary" matTooltip="Review" matTooltipPosition="above"
                *ngIf="pageIsEditable" (click)="review(row.id, row.name)">
                <mat-icon>edit</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <ng-container *ngIf="(dataSource$ | async)?.length === 0">
          Not need to review product.
        </ng-container>
        <vvtk-loader *ngIf="isLoading"></vvtk-loader>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
