<div id="careers" class="container">
  <vvtk-top-banner></vvtk-top-banner>
  <section class="model section">
    <vvtk-three-cards>
      <div class="wrap" vvtkHomeCard>
        <div class="list-row">
          <vvtk-text-card *ngFor="let card of _cardsItems;" [card]="card" [vvtkRouterLink]="[('/careers/job-opportunities/' + card.id) | customPath]">
            <div vvtkThreeCard>
              <div class="text">
                <p class="icon-tag">{{ card.category }}</p>
                <p class="icon-globe">{{ card.country.name }}</p>
                <p class="icon-fort-awesome">{{ card.states?card.states.name:'' }}</p>
                <div class="icon-marker limit">
                  <p>{{ card.location }}</p>
                </div>
              </div>
              <div class="col-link text-right afterClear">
                <vvtk-a [url]="card.url" [cName]="'link'">
                  <ng-container HtmlContent>
                    {{'More'|i18n}}
                  </ng-container>
                </vvtk-a>
              </div>
            </div>
          </vvtk-text-card>
        </div>
      </div>
    </vvtk-three-cards>
  </section>
</div>
