<footer>
  <div class="wrap afterClear">
    <div class="follow">
      <span>{{"Follow Us:"| i18n }}</span>
      <ng-container *ngFor="let link of _layout_href; let first=first">
        <a [href]="link.url" [target]="'_blank'" class="icon" [ngStyle]="{'background-image':'url('+link.image.src+')', 'margin-left.px': first ? 5 : 2}">
          <img [src]="link.image.src" [alt]="link.image.alt">
        </a>
      </ng-container>
    </div>
    <div class="footer-menu">
      <ng-container *ngFor="let item of _MenuNode;">
        <ng-container *ngIf="item.url?.startsWith('http'); else elseTemplate">
          <a [href]="item.url" [target]="'_blank'">{{item.title}}</a>
        </ng-container>
        <ng-template #elseTemplate>
          <a [routerLink]="item.url">{{item.title}}</a>
        </ng-template>
      </ng-container>
    </div>
    <div class="copyright">
      <p>{{"© VIVOTEK Inc. All rights reserved." | i18n }}</p>
    </div>
  </div>
</footer>
<script type="text/javascript"> _linkedin_partner_id = "546067"; window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || []; window._linkedin_data_partner_ids.push(_linkedin_partner_id); </script><script type="text/javascript"> (function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})(); </script> <noscript> <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=546067&fmt=gif" /> </noscript>
