.knowledge-container ::ng-deep {
  margin: auto;
  margin-top: 40px;
  max-width: 1140px;

  .mat-card-header-text {
    margin: 0;
  }

  .article-title {
    color: #f79433;
  }

  .article-content {
    margin: 30px 0;
  }

  .general-button {
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
