<mat-card>
  <mat-card-title>
    <span>Download Center - User Permission</span>
  </mat-card-title>
  <mat-divider></mat-divider>
  <!--<div>{{(dataSource$ | async)?.users | json}}</div>-->
  <mat-card-content>
    <mat-card>
      <mat-card-content fxLayout="column">
          <mat-form-field fxFlex="100%">
            <input matInput #filter="ngModel" ngModel placeholder="Email">
          </mat-form-field>
          <div fxLayout="row wrap" fxLayoutGap="30px">
            <mat-form-field>
              <mat-select placeholder="Document Type" name="documentType"  #selectedDocumentType="ngModel" ngModel>
                <mat-option value=''>Select One</mat-option>
                <mat-option *ngFor="let option of documentTypeOptions$ | async" [value]="option.value" [disabled]="option.disabled">
                  {{option.optionText}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <mat-table #table [dataSource]="(dataSource$ | async)?.users" matSort class="table table-hover table-striped table-bordered table-condensed">
            <ng-container cdkColumnDef="Email">
              <mat-header-cell *cdkHeaderCellDef fxFlex="20%">E-mail</mat-header-cell>
              <mat-cell *cdkCellDef="let row"> {{row.email}} </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="FirstName">
              <mat-header-cell *cdkHeaderCellDef fxFlex="20%">First Name</mat-header-cell>
              <mat-cell *cdkCellDef="let row"> {{row.firstName}} </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="LastName">
              <mat-header-cell *cdkHeaderCellDef fxFlex="20%">Last Name</mat-header-cell>
              <mat-cell *cdkCellDef="let row"> {{row.lastName}} </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="Company">
              <mat-header-cell *cdkHeaderCellDef fxFlex="20%">Company</mat-header-cell>
              <mat-cell *cdkCellDef="let row"> {{row.company}} </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="Website">
              <mat-header-cell *cdkHeaderCellDef fxFlex="20%">Website</mat-header-cell>
              <mat-cell *cdkCellDef="let row"> {{row.website}} </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="CountryName">
                <mat-header-cell *cdkHeaderCellDef fxFlex="20%">Country</mat-header-cell>
                <mat-cell *cdkCellDef="let row"> {{row.countryName}} </mat-cell>
              </ng-container>

            <ng-container cdkColumnDef="DocTypeName">
              <mat-header-cell *cdkHeaderCellDef fxFlex="20%">DocTypeName</mat-header-cell>
              <mat-cell *cdkCellDef="let row"> {{row.docTypeName}}</mat-cell>
            </ng-container>


            <ng-container cdkColumnDef="action">
              <mat-header-cell *cdkHeaderCellDef fxLayout="row" fxFlex="10%" fxLayoutAlign="center center"> Action
              </mat-header-cell>
              <mat-cell *cdkCellDef="let row" fxLayout="row wrap" fxFlex="10%" fxLayoutAlign="center center">
                <button mat-mini-fab class="action-btn" color="primary" matTooltip="Edit" matTooltipPosition="above"
                  *ngIf="pageIsEditable" (click)="updateUserPermission(row.id,row.firstName)">
                  <mat-icon>edit</mat-icon>
                </button>
              </mat-cell>
            </ng-container><!---->

            <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        <mat-paginator #paginator [length]="(dataSource$ | async)?.userCount" [pageIndex]="0" [pageSize]="100" [pageSizeOptions]="[10, 30, 50, 100]">
        </mat-paginator>
        <ng-container *ngIf="(dataSource$ | async)?.length === 0">
          There are no reviewers who can set permissions.
        </ng-container>
        <vvtk-loader *ngIf="isLoading"></vvtk-loader>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
