.ossModelCreate {
  font-size: 10px;
  padding: 5em;
  height: 90%;
  width: 90%;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
  }
  &__body {
    width: 100%;
    height: 100%;
    .mat-form-field {
      width: 100%;
      font-size: 1.5em;
    }
    button {
      margin-top: 3em;
    }
    &_announcement--upload {
      margin-right: 1em;
    }
    &_action {
      margin-top: 1em;
      float: right;
      padding: 1em 0 1em 1em;
      .mat-raised-button:not(:last-child) {
        margin-right: 1em;
      }
    }
  }
}
