<section class="model-video-list model section">
  <div class="wrap">
    <h3 class="title-text text-center" *ngIf="template.title">{{template.title}}</h3>

    <div class="video-container">
      <div class="video-content" *ngFor="let video of template.videos">
        <div class="video-box">
          <iframe [src]="'https://www.youtube.com/embed/'+video.videoUrl|safe:'resourceUrl'" frameborder="0"
            allowfullscreen></iframe>
        </div>
        <h4 class="icon-name">
          <ng-container *ngIf="!video.url">{{video.title}}</ng-container>
          <a class="model-title-image" *ngIf="video.url" [href]="video.url">{{video.title}}</a>
        </h4>
      </div>
    </div>

  </div>

</section>
