<mat-tab-group mat-stretch-tabs *ngIf="productTabInfos?.length" [selectedIndex]="selectedTabIndex"
  (selectedIndexChange)="selectedTabIndex = $event">
  <mat-tab *ngFor="let content of productTabInfos">
    <ng-template mat-tab-label>
      <vvtk-link cName="p-medium" [href]="routerUrl" [fragment]="content.anchorUrl" [replaceUrl]="true">
        <span class="link-text">{{ content.tabName }}</span>
      </vvtk-link>
    </ng-template>
    <ng-template matTabContent>
      <vvtk-model-selector #f [templates]="f.setTemplates(content.templates)"></vvtk-model-selector>
    </ng-template>
  </mat-tab>
</mat-tab-group>
