@import '_var.scss';
.year-selector {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.content-title {
  color: #0093d5;
  align-self: flex-start;
  padding-bottom: 10px;
}

.black-title-text {
  margin-top: 0;
  margin-bottom: 40px;
}

.bold-text {
  font-weight: 600;
  max-width: 880px;
  color: $colorB6;
}

.content-text {
  color: #727272;
  align-self: flex-start;
  white-space: normal;
}

@import '_var.scss';
.model-text {
  padding: 65px 0;
  .wrap {
    max-width: 960px;
    .model-content {
      padding: 0;
    }
  }
}

@media screen and (max-width: $widthTableApp) {
  .model-text {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
  }
}
